{# empty Twig template #}

<a data-toggle="popover" title="Extraversion"
                   data-content="The tendency to seek stimulation in the company of 
                   others. Value over 0.75 more likely to be perceived as 
                    as engaging, seeking attention, needy, assertive, outgoing, 
                    sociable, cheerful, excitement-seeking, or busy.">
    {% if size == "big" %}
        <i class="fa fa-question-circle-o fa-2x" aria-hidden="true"></i>
    {% else %}
        <i class="fa fa-question-circle-o help-indent" aria-hidden="true"></i>
    {% endif %}
</a>