{# empty Twig template #}

<a data-toggle="popover" title="Disgust"
                   data-content="An emotional response of 
                   revulsion to something considered offensive or unpleasant. It 
                   is a sensation that refers to something revolting. Values over 
                   0.75 are more likely to be perceived as disgusted.">
    {% if size == "big" %}
        <i class="fa fa-question-circle-o fa-2x" aria-hidden="true"></i>
    {% else %}
        <i class="fa fa-question-circle-o help-indent" aria-hidden="true"></i>
    {% endif %}
</a>