{# empty Twig template #}

<a data-toggle="popover" title="Agreeableness"
                   data-content="The tendency to be compassionate and cooperative towards others.">
    {% if size == "big" %}
        <i class="fa fa-question-circle-o fa-2x" aria-hidden="true"></i>
    {% else %}
        <i class="fa fa-question-circle-o help-indent" aria-hidden="true"></i>
    {% endif %}
</a>