{# empty Twig template #}

<a data-toggle="popover" title="Analytic"
                   data-content="A person's reasoning and analytical attitude about things.
               Value over 0.75 more likely to be perceived as 
               as  intellectual, rational, systematic, emotionless, or impersonal.">
    {% if size == "big" %}
        <i class="fa fa-question-circle-o fa-2x" aria-hidden="true"></i>
    {% else %}
        <i class="fa fa-question-circle-o help-indent" aria-hidden="true"></i>
    {% endif %}
</a>