{# empty Twig template #}

<a data-toggle="popover" title="Joy"
                   data-content="Joy or happiness has shades of enjoyment, 
                   satisfaction and pleasure. There is a sense of well-being, 
                   inner peace, love, safety and contentment. Higher values 
                   indicate more joyful.">
    {% if size == "big" %}
        <i class="fa fa-question-circle-o fa-2x" aria-hidden="true"></i>
    {% else %}
        <i class="fa fa-question-circle-o help-indent" aria-hidden="true"></i>
    {% endif %}
</a>